SELECT grantee, table_name, privilege_type FROM information_schema.role_table_grants WHERE table_schema = 'public' AND grantee IN ('anon', 'authenticated') AND table_name IN ('018_rel_risco', '010_natureza', '006_matriz_riscos') ORDER BY table_name, grantee;
